
$자원경로: "/resource";

$기본글꼴: 'Nanum Gothic', 'APPLE SD Gothic NEO', 'Noto Sans KR', '맑은 고딕', 'Malgum Gothic', Sans-serif;
$기본글꼴색상: #000000;
$기본배경색상: #F9FAFC;
// $기본배경색상: black;
$기본글꼴크기: 14px;

$색상1: #000;
$색상2: #000;
$색상3: #000;
$색상4: #000;
$색상5: #000;
$색상6: #000;
$색상7: #000;
$색상8: #000;
$색상9: #000;
$색상10: #000;

//$폰트thin: 100;
//$폰트extralight: 200;
//$폰트light: 300;
$폰트regular: 400;
//$폰트medium: 500;
//$폰트semibold: 600;
$폰트bold: 700;
//$폰트extrabold: 800;
//$폰트black: 900;

